

    <div class="container">
      <div class="post">
        <h2><%= @social.title %></h2>
        <p><%= @social.content %></p>
         
        <%= @social.user.gender.capitalize %>

        <p><%= @social.likes.count %> <%= (@social.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <% pre_like = @social.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= button_to 'Unlike', social_like_path(@social, pre_like), method: :delete %>
        <% else %>
          <%= button_to 'Like', social_likes_path(@social), method: :post %>
        <% end %> 

        <% if user_signed_in? %>
          <%= form_with(model: [@social, Comment.new], url: social_comments_path(@social), local: true) do |form| %>
            <%= form.text_area :content, placeholder: 'Add a comment...', rows: 2 %>
            <%= form.submit 'Comment' %>
          <% end %>
        <% else %>
          <p>Please sign in to comment.</p>
        <% end %>

        <h3>Comments</h3>
        <% @social.comments.each do |comment| %>
          <div>
            <strong><%= comment.user.email %>:</strong>
            <%= comment.content %>
          </div>
        <% end %>

            
      </div>

      <div class="back-link">
        <%= link_to 'Back to Posts', socials_path %>
      </div>
    </div>
