<!DOCTYPE html>
<html>
<head>
  <!-- Include CSS stylesheets and meta tags -->
</head>
<body>
  <header>
    <!-- Navigation links -->
  </header>

  <main>
    <div class="container">
      <div class="post">
        <h2><%= @social.title %></h2>
        <p><%= @social.content %></p>
        <% if @social.image.present? %>
          <%= image_tag @social.image.url %>
          <%= image_tag current_user.avatar.url, class: "avatar" if current_user.avatar? %>

        <% end %>
        <%= social.user.gender.capitalize %>
      </div>

      <div class="back-link">
        <%= link_to 'Back to Posts', socials_path %>
      </div>
    </div>
  </main>

  <footer>
    <!-- Footer content -->
  </footer>
</body>
</html>
